@{
    ViewBag.Title = "Liên Hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>Trang Liên Hệ</h3>

<address>
    Assignment_GD2<br />
    <abbr title="Phone">Điện Thoại:</abbr>
    0987.053.202
</address>

<address>
    <strong>Email:</strong>   <a href="kientmph02886@fpt.edu.vn">kientmph02886@fpt.edu.vn</a><br />
    <strong>Google Map</strong><br />
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCv3DJPZHnt0oTKJGikwVyiEweeCCM2EzI'></script><div style='overflow:hidden;height:400px;width:520px;'><div id='gmap_canvas' style='height:400px;width:520px;'></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important;
        }
    </style></div> <a href='http://stilvolle-raumgestaltung.de/'>http://stilvolle-raumgestaltung.de/</a>
    <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=95a951bf5712d461e49192e0722f32dfce2fc0dd'></script>
    <script type='text/javascript'>function init_map(){var myOptions = {zoom:12,center:new google.maps.LatLng(21.074050101037454,105.74946049777829),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(21.074050101037454,105.74946049777829)});infowindow = new google.maps.InfoWindow({content:'<strong>KienTMPH02886</strong><br>7/12/69/75 Đường Phú Diễn - Nam Từ Liêm<br>100000 Hà Nội<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
</address>