@{
    ViewBag.Title = "Trang Chủ";
}

<div class="jumbotron">
    <h1>Điện Toán Đám Mây</h1>
    <p class="lead">Ứng dụng website .</p>
    <!--Upload lên github PH02886-->
    <p class="btn btn-default btn-lg">@Html.ActionLink("Xem Tiếp", "index", "Products")</p>
</div>
