@model PH02886.Models.Category

@{
    ViewBag.Title = "Chi Tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Danh Mục</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Danh Mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cate_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.cate_id }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
